<!doctype html>
<html prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Exolink</title>
        <meta property="og:title" content="<%- level.title %>" />
        <meta property="og:description" content="<%- level.description %>" />
        <meta property="og:image" content="<%- level.image %>" />
        <meta property="og:type" content="website" />
        <meta name="theme-color" content="#7b4afa">
        <link rel="icon" href="/favicon.ico">
        <link rel="stylesheet" href="/css/common.css">
        <link rel="stylesheet" href="/css/link.css">
    </head>
    <body>
        <% 
            let modifiedLink = sourceCode;
            if ((sourceCode == "https://github.com/jbmagination/exolink" || sourceCode == "https://github.com/Ectoracer/Exolink")) sourceCode = `<a href="https://github.com/Ectoracer/Exolink">source code</a>`
            else sourceCode = `source code: <a href="${modifiedLink}">modified</a> (<a href="/changes.txt">changes</a>), <a href="https://github.com/Ectoracer/Exolink">original</a>`
        %> 
        <div>
            <div class="container">
                <% if (imageAvailable) { %>
                <div class="image">
                    <img src="/image/<%- level.image %>" width="201px" />
                </div>
                <% } %>
                <div class="text">
                    <h3><u><%- level.title %></u></h3>
                    <h3><%- level.description %></h3>
                    <br>
                    <a href="<%- level.android %>" class="button">Open Exoracer</a>
                </div>
            </div>
        </div>
        <br>
        <img src="/phone.png" class="phone" />
        <br>
        <br>
        <p>This is a link to an online <%- level.type %> from the game Exoracer. Download it from <a href="<%- level.play || "https://play.google.com/store/apps/details?id=com.nyanstudio.exoracer" %>">Google Play</a>, <a href="https://apps.apple.com/app/exoracer/id1618857304">App Store</a>, or <a href="https://store.steampowered.com/app/2845120">Steam</a>.</p>
        <br>
        <p></p><span class="info">Exolink <%= version %> | <%- sourceCode %> | <a href="/privacy">privacy</a></span></p>
    </body>
</html>