<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Exolink</title>
        <meta property="og:title" content="<%- level.title %>" />
        <meta property="og:description" content="<%- level.description %>" />
        <meta property="og:image" content="<%- level.image %>" />
        <meta property="og:type" content="website" />
        <meta name="theme-color" content="#7b4afa">
        <link rel="icon" href="/favicon.ico">
        <link rel="stylesheet" href="/css/common.css" integrity="sha256-3ILlbtDScksc+dC1RJGIc5EkS4AE26z0SOMlHbBwLtA= sha384-RGxa0tnJJzlk/DKVDkzAG5EIYvcQ86MJ29OxyRiAo/TMe9ey3lthgAeIR74EXMK6 sha512-yV1lyvZTk3lgH0rHp9cg+aSXg9cQuuCP+69HzSWfrYt5fnn8js1masiDg7Z7TJIjLEFWzTd15T8sPuT7XtQCgw==" crossorigin="anonymous">
        <link rel="stylesheet" href="/css/link.css" integrity="sha256-xPEXaOPG7y5WUTC6a3Q9ZOPjY7PNRjIDC72NNSfiSVs= sha384-vJcVncJvQZuECjD4ZU6ojzqutcQ9urSkZTs0Fk5KToIim7ozTv6MZg82vV25H2EE sha512-D4y78X1+N4BsV6pDZGsCIpsa+F7r5k5mWu/vJrDuAHEf/k8ounVcdPYtADLzRdCZ4bqdKCS00Rf8ZyY3kYFokA==" crossorigin="anonymous">
    </head>
    <body>
        <% 
            let modifiedLink = sourceCode;
            if ((sourceCode == "https://github.com/jbmagination/exolink" || sourceCode == "https://github.com/Ectoracer/Exolink")) sourceCode = `<a href="https://github.com/Ectoracer/Exolink">source code</a>`
            else sourceCode = `source code: <a href="${modifiedLink}">modified</a> (<a href="/changes.txt">changes</a>), <a href="https://github.com/Ectoracer/Exolink">original</a>`
        %> 
        <div>
            <div class="container">
                <% if (imageAvailable) { %>
                <div class="image">
                    <img src="/image/<%= level.image %>" width="201px" />
                </div>
                <% } %>
                <div class="text">
                    <h3><u><%= level.title %></u></h3>
                    <h3><%- level.description %></h3>
                    <br>
                    <a href="<%= level.android %>" class="button">Open Exoracer</a>
                </div>
            </div>
        </div>
        <br>
        <img src="/phone.png" class="phone" />
        <br>
        <br>
        <p>This is a link to an online <%= level.type %> from the game Exoracer. Download it from <a href="<%= level.play || "https://play.google.com/store/apps/details?id=com.nyanstudio.exoracer" %>">Google Play</a>, <a href="https://apps.apple.com/app/exoracer/id1618857304">App Store</a>, or <a href="https://store.steampowered.com/app/2845120">Steam</a>.</p>
        <br>
        <p></p><span class="info">Exolink <%= version %> | <%- sourceCode %> | <a href="/privacy">privacy</a></span></p>
    </body>
</html>