<!DOCTYPE html>
<html prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <script>window.location.href = "/"</script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Exolink</title>
        <meta property="og:title" content="Exolink">
        <meta property="og:description" content="Exolink lets you make Exoracer share links with custom titles, descriptions, and images.">
        <meta name="theme-color" content="#7b4afa">
        <link rel="icon" href="/favicon.ico">
        <link rel="stylesheet" href="/css/common.css" integrity="sha256-3ILlbtDScksc+dC1RJGIc5EkS4AE26z0SOMlHbBwLtA= sha384-RGxa0tnJJzlk/DKVDkzAG5EIYvcQ86MJ29OxyRiAo/TMe9ey3lthgAeIR74EXMK6 sha512-yV1lyvZTk3lgH0rHp9cg+aSXg9cQuuCP+69HzSWfrYt5fnn8js1masiDg7Z7TJIjLEFWzTd15T8sPuT7XtQCgw==" crossorigin="anonymous"> 
        <link rel="stylesheet" href="/css/main.css" integrity="sha256-6RaFT0VrzAyWoZwT5f+r6vFllNi8/FJS6+AuVi5VQNw= sha384-khO5M8joq/hYkL3564zsywiZc0Eh7oNC2PGCLtZSRVtFNcjODdlIUntkr0phacAy sha512-V/V1aFeDvaHArsWemKN+UOQS82kQF1TXBLF8u3D5hkpGd5INuy1pYnre4cDZe8YouNqSZhqBefXOt2gA5eEojQ==" crossorigin="anonymous"> 
    </head>
    <body>
        <% 
            let modifiedLink = sourceCode;
            if ((sourceCode == "https://github.com/jbmagination/exolink" || sourceCode == "https://github.com/Ectoracer/Exolink")) sourceCode = `<a href="https://github.com/Ectoracer/Exolink">source code</a>`
            else sourceCode = `source code: <a href="${modifiedLink}">modified</a> (<a href="/changes.txt">changes</a>), <a href="https://github.com/Ectoracer/Exolink">original</a>`
        %>
        <h1>Exolink <span class="info"><%= version %> | <%- sourceCode %> | <a href="/privacy">privacy</a></span></h1>
        <% if (data && data.error) { %><div id="error" style="color:darkred"><%= "Something went wrong: " + data.error %></div><% } %>
        <% 
            let suffixOption;

            if (link && (!(link == null))) {
                link = link.trim()
                if(link.startsWith('http://')) { link = link.substring(7) }
                else if (link.startsWith('https://')) { link = link.substring(8) }
                if (link.startsWith('preview.page.link/')) link = link.substring(18)
                if (link.startsWith('exoracer.page.link/')) link = link.substring(19)

                if (data && data.suffixOption) {
                    if (data.suffixOption == "SHORT") suffixOption = "Short";
                    else suffixOption = "Unguessable";
                }
            }
        %> 
        <% if (data && data.error) { %> <br> <% } %>
        <div>
            <form>
                <select id="domainPrefix" name="domainPrefix">
                    <option value="exoracer">exoracer</option>
                    <option value="exo">exo</option>
                </select>
                <label for="shareLink">.page.link/</label>
                <input type="text" id="shareLink" name="link" title="Share link" placeholder="Share link" <% if(link && (!(link == null))) { %> value="<%=link%>"<% } %>>
                <input type="submit" value="Get data">
            </form>
        </div>
        <br>
        <form>
            <div>
                <label for="type">Type:</label>
                <select id="type" name="type">
                    <option value="level" <% if(data && (data.type == 'level')) { %> selected <% } %>>Level</option>
                    <option value="lobby" <% if(data && (data.type == 'lobby')) { %> selected <% } %>>Lobby</option>
                </select>
            </div>
            <div>
                <label for="levelID">Level/lobby ID:</label>
                <input type="text" id="levelID" name="levelID" placeholder="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx" <% if(data && data.levelID) { %> value="<%=data.levelID%>" <% } %>>
            </div>
            <div>
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" placeholder="Title" <% if(data && data.title) { %> value="<%=data.title%>" <% } %>>
            </div>
            <div>
                <label for="description">Description:</label>
                <input type="text" id="description" name="description" placeholder="Description" <% if(data && data.description) { %> value="<%=data.description%>" <% } %>>
            </div>
            <div>
                <label for="imageURL">Image URL:</label>
                <input type="text" id="imageURL" name="imageURL" placeholder="Image URL" <% if(data && data.imageURL) { %> value="<%=data.imageURL%>" <% } %>>
            </div>
            <div>
                <label for="levelVersion">Level version:</label>
                <input type="number" id="levelVersion" name="levelVersion" placeholder="Level version" <% if(data && data.levelVersion) { %> value="<%=data.levelVersion%>" <% } %>>
            </div>
            <div>
                <label for="suffixOption">Suffix type:</label>
                <select id="suffixOption" name="suffixOption">
                    <option value="UNGUESSABLE">Unguessable</option>
                    <option value="SHORT">Short</option>
                </select>
            </div>
            <br>
            <input type="submit" value="Make link">
        </form>
        <% if(data && data.link) { %> <br>
        <div id="link"> <a href="<%=data.link%>"><%=data.link%></a></div><% } %>
    </body>
</html>