<!doctype html>
<html prefix="og: https://ogp.me/ns#">
    <head>
        <meta charset="utf-8">
        <script>window.location.href = "/"</script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Exolink</title>
        <meta property="og:title" content="Exolink">
        <meta property="og:description" content="Exolink lets you make Exoracer share links with custom titles, descriptions, and images.">
        <meta name="theme-color" content="#7b4afa">
        <link rel="icon" href="/favicon.ico">
        <style>
            @import url("https://fontlay.com/css2?family=Monoton&family=Oxanium:wght@700&display=swap");
            :root { color-scheme: light dark; }
            * {
                font-family: "Oxanium";
                color: #d9d9d9;
                text-align: center;
                outline: none;
                margin: 0;
                padding: 0;
            }
            body {
                margin: 0 auto;
                background-image: url('/exo_bg.png');
                background-size: 100%;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                text-align: center;
                width: 80%;
            }
            h1 {
                font-family: "Monoton";
                font-size: 50px;
            }
            h3 { font-size: 20px; }
            a {
                color: rgb(0, 64, 255);
                text-decoration: none;
                position: relative;
                transition: color 0.25s;
            }
            a:after {
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0%;
                border-bottom: 2px solid rgb(0, 128, 255);
                transition: 0.4s;
            }
            a:hover:after {
                width: 100%;
                color: rgb(0, 128, 255);
            }
            a:hover { color: rgb(0, 128, 255); }
            @media (prefers-color-scheme: dark) {
                a {
                    color: rgb(0, 128, 255);
                    text-decoration: none;
                    position: relative;
                    transition: color 0.25s;
                }
                a:after {
                    content: '';
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0%;
                    border-bottom: 2px solid rgb(78, 166, 255);
                    transition: 0.4s;
                }
                a:hover:after {
                    width: 100%;
                    color: rgb(78, 166, 255);
                }
                a:hover { color: rgb(78, 166, 255); }
            }
            input[type="text"], input[type="number"] {
                font-size: 20px;
                text-align: left;
                border-color: #5a3ab3;
                background-color: #3a2574;
                border-style: solid;
                border-width: 3px;
                border-radius: 2.5px;
                margin: 2px;
                width: 300px;
            }
            label {
                font-size: 20px;
            }
            input[type="text"]::placeholder,input[type="number"]::placeholder  {
                font-style: italic;
            }
            select {
                cursor: pointer;
                text-align: left;
                border-radius: 3px;
                background-color: #7b4afa;
                border-style: none;
                padding: 3px;
                font-size: 20px;
            }
            input[type="submit"] {
                cursor: pointer;
                margin: 10px;
                border-radius: 3px;
                background-color: #7b4afa;
                border-style: none;
                padding: 4px;
                font-size: 20px;
            }
            button {
                cursor: pointer;
                margin: 10px;
                border-radius: 3px;
                background-color: #7b4afa;
                border-style: none;
                padding: 4px;
                font-size: 20px;
            }
        </style>
    </head>
    <body>
        <% 
            let modifiedLink = sourceCode;
            if ((sourceCode == "https://github.com/jbmagination/exolink" || sourceCode == "https://github.com/Ectoracer/Exolink")) sourceCode = `<a href="https://github.com/Ectoracer/Exolink">source code</a>`
            else sourceCode = `source code: <a href="${modifiedLink}">modified</a> (<a href="/changes.txt">changes</a>), <a href="https://github.com/Ectoracer/Exolink">original</a>`
        %>
        <h1>Exolink <span style="font-size:45%"><%= version %> | <%- sourceCode %> | <a href="/privacy">privacy</a></span></h1>
        <% if (data && data.error) { %><div id="error" style="color:darkred"><%= "Something went wrong: " + data.error %></div><% } %>
        <div><b>All <i>page.link</i> links will stop working on August 25th, 2025.</b> <a href="https://github.com/Ectoracer/Exolink/issues/4">Learn more about what that means for Exolink.</a></div>
        <% 
            let suffixOption;

            if (link && (!(link == null))) {
                link = link.trim()
                if(link.startsWith('http://')) { link = link.substring(7) }
                else if (link.startsWith('https://')) { link = link.substring(8) }
                if (link.startsWith('preview.page.link/')) link = link.substring(18)
                if (link.startsWith('exoracer.page.link/')) link = link.substring(19)

                if (data && data.suffixOption) {
                    if (data.suffixOption == "SHORT") suffixOption = "Short";
                    else suffixOption = "Unguessable";
                }
            }
        %> 
        <% if (data && data.error) { %> <br> <% } %>
        <div>
            <form>
                <select id="domainPrefix" name="domainPrefix">
                    <option value="exoracer">exoracer</option>
                    <option value="exo">exo</option>
                </select>
                <label for="shareLink">.page.link/</label>
                <input type="text" id="shareLink" name="link" title="Share link" placeholder="Share link" <% if(link && (!(link == null))) { %> value="<%=link%>"<% } %>>
                <input type="submit" value="Get data">
            </form>
        </div>
        <br>
        <form>
            <div>
                <label for="levelID">Level ID:</label>
                <input type="text" id="levelID" name="levelID" placeholder="xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx" <% if(data && data.levelID) { %> value="<%=data.levelID%>" <% } %>>
            </div>
            <div>
                <label for="title">Title:</label>
                <input type="text" id="title" name="title" placeholder="Title" <% if(data && data.title) { %> value="<%=data.title%>" <% } %>>
            </div>
            <div>
                <label for="description">Description:</label>
                <input type="text" id="description" name="description" placeholder="Description" <% if(data && data.description) { %> value="<%=data.description%>" <% } %>>
            </div>
            <div>
                <label for="imageURL">Image URL:</label>
                <input type="text" id="imageURL" name="imageURL" placeholder="Image URL" <% if(data && data.imageURL) { %> value="<%=data.imageURL%>" <% } %>>
            </div>
            <div>
                <label for="levelVersion">Level version:</label>
                <input type="number" id="levelVersion" name="levelVersion" placeholder="Level version" <% if(data && data.levelVersion) { %> value="<%=data.levelVersion%>" <% } %>>
            </div>
            <div>
                <label for="suffixOption">Suffix type:</label>
                <select id="suffixOption" name="suffixOption">
                    <option value="UNGUESSABLE">Unguessable</option>
                    <option value="SHORT">Short</option>
                </select>
            </div>
            <br>
            <input type="submit" value="Make link">
        </form>
        <% if(data && data.link) { %> <br>
        <div id="link"> <a href="<%=data.link%>"><%=data.link%></a></div><% } %>
    </body>
</html>